<!-- <!DOCTYPE html>
<html>
<head>
<title>App title</title>
<body>
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/about">View about page</a></li>
  </ul>
</body>
 -->










<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>* App title here *</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" integrity="sha512-pBSlhNUvB+td6sjW1zmR6L7c7kVWR4octUPl4tfHmzO63424nxta8aLmficEcAAswQmRqTiToi63AazDurj/Sg==" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js" integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root"></div>
    <script type='text/jsx' src="static/js/about.jsx"></script>
    <script type='text/jsx' src="static/js/subscribe.jsx"></script>
    <script type='text/jsx' src="static/js/success.jsx"></script>
    <script type='text/jsx' src="static/js/homepage.jsx"></script>
</body>
</html> 